@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  #courseCards {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 1100px;
    margin: auto;
  }
}
